.meal-card{   
     border: 1px solid #95A0A7;
     border-radius: 8px;
     position: relative;
}
.meal-card img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 15px;
}
.meal-details h6{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin: 0;
}
.meal-details{
     margin-bottom: 50px;
}
.cart-btn-container{
     display: flex;
     justify-content: center;
     background-color: orange;
     width: 100%;
     border-radius: 0px 0px 8px 8px;
     position: absolute;
     bottom: 0;
     border: none;
}
.cart-btn{
     color: white;
}
.meal-details{
     padding: 15px;
}